$accent-color: #28a745;
$primary-text-color: #333333;
$secondary-text-color: #ffffff;
$hero-text-color: #e9e9e9;
$body-bg-color: #ffffff;
$blog-bg-color: #0284d0;
$callback-bg-color: #f4f4f4;
$input-bg-color: #ffffff;
$input-placeholder-color: #808080;

// background-color: $color;
