<div class="callback" id="contact">
    <div class="container">
        <div class="callback__image-wrapper"></div>
        <div class="callback__info-wrapper">
            <h2 class="callback__title">Request Callback</h2>
            <form class="callback__form" action="#">
                <input class="callback__input" name="callback-name" type="text" placeholder="Enter your name" />
                <input class="callback__input" name="callback-email" type="email" placeholder="Enter email*" required />
                <button class="callback__button" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>