<footer class="footer">
    <div class="container">
        <ul class="social list">
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="facebook">
                    <svg class="social__icon">
                        <use href="./images/svg/sprite.svg#icon-fb"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="twitter">
                    <svg class="social__icon">
                        <use href="./images/svg/sprite.svg#icon-tw"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="youtube">
                    <svg class="social__icon">
                        <use href="./images/svg/sprite.svg#icon-yt"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link link" aria-label="linkedin">
                    <svg class="social__icon">
                        <use href="./images/svg/sprite.svg#icon-in"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__text">Copyright &#169; 2021 - FinanceLedger</p>
    </div>
</footer>