<div class="we-provide">
    <div class="container">
        <div class="we-provide__image-wrapper"></div>
        <div class="we-provide__info-wrapper">
            <p class="we-provide__subtitle">What you are looking for</p>
            <h2 class="we-provide__title">We provide bespoke solutions</h2>
            <p class="we-provide__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
                dignissimos quae laudantium asperiores nam
                aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
                deleniti?</p>
            <button class="we-provide__button" type="button">Read More</button>
        </div>
    </div>
</div>