@use '../variables' as *;

.callback {
  background-color: $callback-bg-color;

  &__image-wrapper {
    width: calc(100% + 40px);
    height: 220px;
    background-image: url('../images/home/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -20px;
  }

  &__info-wrapper {
    padding: 30px 0;
  }

  &__title {
    font-weight: 300;
    @include font(38px, 48px);
    margin-bottom: 34px;
  }

  &__form {
    @extend %flex-center;
    flex-direction: column;
  }

  &__input {
    width: 260px;
    height: 40px;
    background: $input-bg-color;
    border: none;
    padding-left: 5px;

    &::placeholder {
      font-weight: 400;
      @include font(16px, 23px);
      color: $input-placeholder-color;
    }

    &:nth-child(2) {
      margin: 36px 0 53px;
    }
  }

  &__button {
    width: 260px;
    height: 42px;
    @include font(16px, 22px);
    border: none;
    border-radius: 5px;
    color: $secondary-text-color;
    background-color: $accent-color;
    text-align: center;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .callback__image-wrapper {
    background-image: url('../images/home/contact@2x.jpg');
  }
}
