@use '../variables' as *;

.cases {
  padding: 50px 0;

  & .container {
    @extend %flex-center;
    flex-direction: column;
  }

  &__subtitle {
    @include font(18px, 30px);
    text-align: center;
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 300;
    @include font(38px, 48px);
    text-align: center;
    margin-bottom: 35px;
  }

  &__text {
    text-align: center;
    margin-bottom: 35px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 8px;
  }

  &__item {
    width: 264px;
    height: auto;
  }
}
