@use '../variables' as *;

.our-team {
  padding: 50px 0;

  & .container {
    @extend %flex-center;
    flex-direction: column;
  }

  &__subtitle {
    @include font(18px, 30px);
    text-align: center;
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 300;
    @include font(38px, 48px);
    text-align: center;
    margin-bottom: 35px;
  }

  &__text {
    text-align: center;
    margin-bottom: 49px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
  }

  &__item {
    width: 280px;
    height: auto;
  }

  &__name {
    @include font(23px, 29px);
    font-weight: 400;
    text-align: center;
    margin: 15px 0 11px;
  }

  &__position {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    padding: 48px 0 59px;

    &__subtitle {
      @include font(20px, 33px);
    }

    &__text {
      @include font(18px, 28px);
      margin-bottom: 49px;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0px;
    }

    &__item {
      width: 223px;
    }

    &__name {
      @include font(25px, 32px);
      margin: 14px 0 12px;
    }

    &__position {
      @include font(18px, 28px);
    }
  }
}

@media screen and (min-width: 1360px) {
  .our-team {
    &__text {
      margin-bottom: 45px;
    }

    &__list {
      grid-column-gap: 15px;
    }

    &__item {
      width: 420px;
    }
  }
}
